body {
    background-color: rgb(253, 251, 251);
}

section {
    border: 1px solid red;
}

#cabecalho {
    background-color: cornsilk;
    position: fixed;
    top: 0;
    padding: 8px;
    border: 1px solid rgb(102, 139, 16);
    color: brown;
    font-size: 20px;
}

#minha_foto {
    display: block;
    position: relative;
    float: left;
    width: 300px;
    top: 70px;
    margin: 8px;
}

.container-about {
    display: inline;
    position: relative;
    line-height: 5px;
    top: 100px;
    left: 100px;
}

#lessons-learned {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .physical-table {
    position: relative;
    display: block;
    align-items: center;

} */